@utility badge {
  --badge-w: max-content;
  --badge-h: calc(var(--spacing) * 9);
  --badge-px: calc(var(--spacing) * 3);
  --badge-radius: var(--radius-lg);
  --badge-text: var(--text-base);
  --badge-line: var(--tw-leading, var(--text-base--line-height));

  @apply f-center max-w-full;

  width: var(--badge-w);
  height: var(--badge-h);
  padding: 0 var(--badge-px);
  gap: calc(var(--badge-px) / 1.5);
  border-radius: var(--badge-radius);
  font-size: var(--badge-text);
  line-height: var(--badge-line);
}

@utility badge-sm {
  --badge-h: calc(var(--spacing) * 6);
  --badge-px: calc(var(--spacing) * 1.5);
  --badge-radius: var(--radius-md);
  --badge-text: var(--text-sm);
  --badge-line: var(--tw-leading, var(--text-sm--line-height));
}

@utility badge-lg {
  --badge-h: calc(var(--spacing) * 12);
  --badge-px: calc(var(--spacing) * 6);
  --badge-radius: var(--radius-xl);
  --badge-text: var(--text-lg);
  --badge-line: var(--tw-leading, var(--text-lg--line-height));
}

@utility badge-square {
  --badge-w: var(--badge-h);
  --badge-px: 0;

  min-width: var(--badge-w);
}

@utility badge-rounded {
  --badge-radius: calc(infinity * 1px);
}

@utility badge-full {
  --badge-w: 100%;
}

@utility badge-fill {
  @apply bg-palette text-brush;
}

@utility badge-outline {
  @apply border border-palette text-palette bg-palette/10;
}

@utility badge-soft {
  @apply bg-palette/10 text-palette;
}

@utility badge-icon-size {
  width: clamp(
    calc(var(--badge-h) / 2),
    calc(var(--badge-h) / 2),
    calc(var(--badge-h) / 2)
  );
  height: clamp(
    calc(var(--badge-h) / 2),
    calc(var(--badge-h) / 2),
    calc(var(--badge-h) / 2)
  );
}
