@utility btn {
  --btn-w: max-content;
  --btn-h: calc(var(--spacing) * 9);
  --btn-px: calc(var(--spacing) * 3);
  --btn-radius: var(--radius-lg);
  --btn-text: var(--text-base);
  --btn-line: var(--tw-leading, var(--text-base--line-height));

  @apply max-w-full f-center transition-all outline-solid outline-2 outline-transparent focus-visible:outline-palette disabled:opacity-50 disabled:cursor-not-allowed active:opacity-50;

  width: var(--btn-w);
  height: var(--btn-h);
  padding: 0 var(--btn-px);
  gap: calc(var(--btn-px) / 1.5);
  border-radius: var(--btn-radius);
  font-size: var(--btn-text);
  line-height: var(--btn-line);
}

@utility btn-sm {
  --btn-h: calc(var(--spacing) * );
  --btn-px: calc(var(--spacing) * 2);
  --btn-radius: var(--radius-md);
  --btn-text: var(--text-sm);
  --btn-line: var(--tw-leading, var(--text-sm--line-height));
}

@utility btn-lg {
  --btn-h: calc(var(--spacing) * 11);
  --btn-px: calc(var(--spacing) * 4);
  --btn-radius: var(--radius-xl);
  --btn-text: var(--text-lg);
  --btn-line: var(--tw-leading, var(--text-lg--line-height));
}

@utility btn-square {
  --btn-w: var(--btn-h);
  --btn-px: 0 !important;

  min-width: var(--btn-w);
}

@utility btn-rounded {
  --btn-radius: calc(infinity * 1px);
}

@utility btn-full {
  --btn-w: 100%;
}

@utility btn-fill {
  @apply bg-palette text-brush outline-offset-2 hover:bg-palette/90;
}

@utility btn-outline {
  @apply border border-palette text-palette outline-offset-2 hover:bg-palette/10;
}

@utility btn-soft {
  @apply bg-palette/10 text-palette hover:bg-palette/20;
}

@utility btn-ghost {
  @apply text-palette hover:bg-palette/10;
}

@utility btn-float {
  @apply bg-palette/50 backdrop-blur-sm border-3 border-palette text-brush outline-offset-2 hover:bg-palette/40;
}

@utility btn-icon-size {
  width: clamp(calc(var(--btn-h) / 2), calc(var(--btn-h) / 2), calc(var(--btn-h) / 2));
  height: clamp(calc(var(--btn-h) / 2), calc(var(--btn-h) / 2), calc(var(--btn-h) / 2));
}