@utility checkbox {
  @apply size-6 f-center data-unchecked:border data-unchecked:border-background-thick rounded-sm data-checked:bg-palette data-checked:text-brush outline-solid outline-2 outline-transparent outline-offset-2 focus-visible:outline-palette;
}

@utility checkbox-indicator {
  @apply size-4;

  svg {
    @apply size-full;
  }
}
