@utility dialog-backdrop {
  @apply fixed inset-0 min-h-dvh bg-black/10 backdrop-blur-sm transition-all duration-150 data-ending-style:opacity-0 data-starting-style:opacity-0 dark:opacity-70 supports-[-webkit-touch-callout:none]:absolute;
}

@utility dialog-popup {
  @apply fixed top-1/2 left-1/2 -mt-8 w-96 max-w-[calc(100vw-3rem)] -translate-x-1/2 -translate-y-1/2 rounded-lg bg-background shadow-lg p-6 transition-all duration-150 data-ending-style:scale-90 data-ending-style:opacity-0 data-starting-style:scale-90 data-starting-style:opacity-0;
}

@utility dialog-title {
  @apply text-lg font-bold;
}

@utility dialog-description {
  @apply text-foreground-mute mt-3;
}

@utility dialog-footer {
  @apply f-align justify-end gap-3 mt-6;

  button {
    @apply w-1/2;
  }
}