/* Input element should be a `label` */

@utility input {
  --input-h: calc(var(--spacing) * 9);
  --input-w: auto;
  --input-px: calc(var(--spacing) * 3);
  --input-radius: var(--radius-lg);
  --input-text: var(--text-base);
  --input-line: var(--tw-leading, var(--text-base--line-height));

  @apply text-palette flex gap-3 cursor-text relative transition-all outline-solid outline-2 outline-transparent focus-within:outline-palette disabled:opacity-50 disabled:cursor-not-allowed;

  width: var(--input-w);
  height: var(--input-h);
  border-radius: var(--input-radius);
  font-size: var(--input-text);
  line-height: var(--input-line);

  &:has(input, select) {
    @apply items-center;

    padding: 0 var(--input-px);
  }

  &:has(textarea) {
    @apply h-[25dvh];

    padding: var(--input-px);
  }
}

@utility input-sm {
  --input-h: calc(var(--spacing) * 6);
  --input-radius: var(--radius-md);
  --input-text: var(--text-sm);
  --input-line: var(--tw-leading, var(--text-sm--line-height));
}

@utility input-lg {
  --input-h: calc(var(--spacing) * 12);
  --input-radius: var(--radius-xl);
  --input-text: var(--text-lg);
  --input-line: var(--tw-leading, var(--text-lg--line-height));
}

@utility input-square {
  --input-w: var(--input-h);
  --input-px: 0;

  @apply text-center;
}

@utility input-rounded {
  &:not(:has(textarea)) {
    --input-radius: calc(infinity * 1px);
  }
}

@utility input-field {
  @apply bg-transparent flex-1 not-[[type=file]]:h-full max-w-full [[type=file]]:cursor-pointer;

  &:where(select) {
    @apply cursor-pointer;
  }
}

@utility input-outline {
  @apply border border-palette outline-offset-2;
}

@utility input-soft {
  @apply bg-palette/10;
}

@utility input-icon-size {
  width: clamp(calc(var(--input-h) / 2),
      calc(var(--input-h) / 2),
      calc(var(--input-h) / 2));
  height: clamp(calc(var(--input-h) / 2),
      calc(var(--input-h) / 2),
      calc(var(--input-h) / 2));
}