@utility separate {
  --separate-space-y: calc(var(--spacing) * 6);
  --separate-space-x: calc(var(--spacing) * 3);
}

@utility separate-sm {
  --separate-space-y: calc(var(--spacing) * 3);
  --separate-space-x: calc(var(--spacing) * 1.5);
}

@utility separate-lg {
  --separate-space-y: calc(var(--spacing) * 9);
  --separate-space-x: calc(var(--spacing) * 6);
}

@utility separate-t {
  @apply border-t-2;

  padding-top: var(--separate-space-y);
  margin-top: var(--separate-space-y);
}

@utility separate-r {
  @apply border-r-2;

  padding-right: var(--separate-space-x);
  margin-right: var(--separate-space-x);
}

@utility separate-b {
  @apply border-b-2;

  padding-bottom: var(--separate-space-y);
  margin-bottom: var(--separate-space-y);
}

@utility separate-l {
  @apply border-l-2;

  padding-left: var(--separate-space-x);
  margin-left: var(--separate-space-x);
}

@utility separate-y {
  @apply border-y-2;

  padding: var(--separate-space-y) 0;
  margin: var(--separate-space-y) 0;
}

@utility separate-x {
  @apply border-x-2;

  padding: 0 var(--separate-space-x);
  margin: 0 var(--separate-space-x);
}