@import "tailwindcss";
@import "./../styles/layout.css";
@import "./../styles/button.css";
@import "./../styles/input.css";
@import "./../styles/otp.css";
@import "./../styles/badge.css";
@import "./../styles/checkbox.css";
@import "./../styles/switch.css";
@import "./../styles/radio.css";
@import "./../styles/tabs.css";
@import "./../styles/rating.css";
@import "./../styles/dialog.css";
@import "./../styles/menu.css";
@import "./../styles/tooltip.css";
@import "./../styles/separator.css";
@import "./../styles/avatar.css";
@import "./../styles/toast.css";
@import "./../styles/pagination.css";

@font-face {
  font-family: "ravi-medium";
  font-display: swap;
  src: url("/fonts/ravi/ravi-medium.woff");
}

@font-face {
  font-family: "ravi-bold";
  font-display: swap;
  src: url("/fonts/ravi/ravi-bold.woff");
}

@font-face {
  font-family: "ravi-black";
  font-display: swap;
  src: url("/fonts/ravi/ravi-black.woff");
}

@theme {
  --color-background: #f1f1f1;
  --color-background-thin: #ffffff;
  --color-background-thick: #dddddd;
  --color-foreground: #565656;
  --color-foreground-mute: #646464;
  --color-primary: #0f9087;
  --color-primary-foreground: #e7f4f3;
  --color-secondary: #ffa33a;
  --color-secondary-foreground: #fff6ec;
  --color-error: #ff4747;
  --color-error-foreground: #ffeded;
  --color-warning: #ffb133;
  --color-warning-foreground: #fcf5e8;
  --color-success: #119200;
  --color-success-foreground: #e7f4e6;
  --color-info: #3d7bff;
  --color-info-foreground: #e9effc;

  --color-palette: var(--color-foreground);
  --color-brush: var(--color-background);

  --radius-xs: calc(var(--spacing) * 1);
  --radius-sm: calc(var(--spacing) * 1.5);
  --radius-md: calc(var(--spacing) * 2);
  --radius-lg: calc(var(--spacing) * 3);
  --radius-xl: calc(var(--spacing) * 4);
  --radius-2xl: calc(var(--spacing) * 5);
  --radius-3xl: calc(var(--spacing) * 6);

  --font-*: initial;
  --font-ravi-medium: "ravi-medium";
  --font-ravi-bold: "ravi-bold";
  --font-ravi-black: "ravi-black";
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
  --color-background: #f1f1f1;
  --color-background-thin: #ffffff;
  --color-background-thick: #dddddd;
  --color-foreground: #565656;
  --color-foreground-mute: #646464;
  --color-primary: #0f9087;
  --color-primary-foreground: #e7f4f3;
  --color-secondary: #ffa33a;
  --color-secondary-foreground: #fff6ec;
  --color-error: #ff4747;
  --color-error-foreground: #ffeded;
  --color-warning: #ffb133;
  --color-warning-foreground: #fcf5e8;
  --color-success: #119200;
  --color-success-foreground: #e7f4e6;
  --color-info: #3d7bff;
  --color-info-foreground: #e9effc;
}

@utility palette-foreground {
  --color-palette: var(--color-foreground);
  --color-brush: var(--color-background);
}

@utility palette-background {
  --color-palette: var(--color-background);
  --color-brush: var(--color-foreground);
}

@utility palette-background-thin {
  --color-palette: var(--color-background-thin);
  --color-brush: var(--color-foreground);
}

@utility palette-background-thick {
  --color-palette: var(--color-background-thick);
  --color-brush: var(--color-foreground);
}

@utility palette-primary {
  --color-palette: var(--color-primary);
  --color-brush: var(--color-primary-foreground);
}

@utility palette-secondary {
  --color-palette: var(--color-secondary);
  --color-brush: var(--color-secondary-foreground);
}

@utility palette-error {
  --color-palette: var(--color-error);
  --color-brush: var(--color-error-foreground);
}

@utility palette-warning {
  --color-palette: var(--color-warning);
  --color-brush: var(--color-warning-foreground);
}

@utility palette-success {
  --color-palette: var(--color-success);
  --color-brush: var(--color-success-foreground);
}

@utility palette-info {
  --color-palette: var(--color-info);
  --color-brush: var(--color-info-foreground);
}

@layer base {
  * {
    @apply select-none;

    scrollbar-width: thin;
    scrollbar-color: hsl(var(--color-foreground)) transparent;
  }

  html {
    @apply scroll-smooth bg-background text-foreground;
  }

  body {
    @apply font-ravi-medium relative;
  }

  .root {
    @apply isolate;
  }

  a,
  span,
  label {
    @apply inline-block;
  }

  button {
    @apply cursor-pointer;
  }

  input:focus,
  textarea:focus {
    @apply outline-none;
  }

  textarea {
    @apply resize-none;
  }
}